# Dependencies
node_modules/

# Build output
dist/

# Environment files
# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml
npm-shrinkwrap.json

# Miscellaneous
*.sublime-workspace
*.sublime-project
*.swp
*.bak
*.tmp
.env*

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log